# Entornos / secretos
.env
*.env
.env.*

# DB locales
db.sqlite3
backup_db.sqlite3

# Media local
media/

# Backups locales
*.dump
*.sql
*.zip
backup-media/

# Caches Python
**/__pycache__/
*.py[cod]

# Entornos virtuales
.venv
venv/
ENV/
.venv
/.venv


# IDE / OS
.vscode/
.DS_Store
Thumbs.db
